<app-header></app-header>

<!-- <app-login  (datosEnviados)="recibirDatos($event)"></app-login> -->
<app-card-user [datos]="datosRecibidos"></app-card-user>

<div class="centrado">
  <app-boton-success [textoBoton]="entrada" (click)="mostrarHora()" *ngIf="!hora"></app-boton-success>
  <p *ngIf="hora">Inicio turno: {{ hora }}</p>

  <app-boton-danger [textoBoton2]="salida" (click)="mostrarHoraF()" *ngIf="!horaF"></app-boton-danger>
  <p *ngIf="horaF">Fin turno: {{ horaF }}</p>

</div>

<h1>{{listado_tareas}}</h1>

<app-card [visualizacion]="visualizacion"></app-card>

<div class="info">
  <app-boton-info></app-boton-info>
</div>
