label {
  font-family: var(--letra-raj);
  font-size: var(--letra-tamano-raj);
}

input {
  font-family: var(--letra-raj);
  font-size: var(--letra-tamano-raj);
}

img {
  width: 200px;
  margin-bottom: 20px;
}

.boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
