<div class="formulario w-75 text-center position-absolute top-50 start-50 translate-middle">
  <form class="w-50 text-center position-absolute top-50 start-50 translate-middle">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre completo</label>
      <input type="text" class="form-control" id="nombre" />
    </div>
    <div class="mb-3">
      <label for="departamento" class="form-label">Departanmento</label>
      <input type="text" class="form-control" id="departamento" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electronico</label>
      <input type="email" class="form-control" id="email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="text" class="form-control" id="password" />
    </div>
    <div class="mb-3">
      <label for="rep_password" class="form-label">Repetir contraseña</label>
      <input type="text" class="form-control" id="rep_password" />
    </div>
    <div class="mb-3">
      <input type="file" class="form-control" />
    </div>
  </form>
</div>
