<form class="w-50 text-center position-absolute top-50 start-50 translate-middle">
  <div class="mb-3">
    <label for="tarea" class="form-label">Nombre tarea</label>
    <input type="text" class="form-control" id="tarea" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <span>Descripción</span>
    <textarea class="form-control" aria-label="descripcion"></textarea>
  </div>
  <div class="mb-3">
    <label for="nombre_usuario" class="form-label">Nombre usuario</label>
    <input type="nombre_usuario" class="form-control" id="nombre_usuario">
  </div>
  <div class="mb-3">
    <label for="departamento" class="form-label">Departamento</label>
    <input type="text" class="form-control" id="departamento">
  </div>
</form>
