<div class="card">

  <div class="TitleDescription">
    <div class="title">Título</div>
    <div class="description">Descripción</div>
  </div>

  <div class="buttons">

    <button style="font-size: 36px">
      <i class="material-icons">visibility</i>
    </button>

    <button style="font-size: 36px">
      <i class="material-icons">mode_edit</i>
    </button>

    <button style="font-size:24px">
      <i class="material-icons">delete</i>
    </button>

  </div>

</div>

<div class="card">

  <div class="TitleDescription">
    <div class="title">Título</div>
    <div class="description">Descripción</div>
  </div>

  <div class="buttons">

    <button style="font-size: 36px">
      <i class="material-icons">visibility</i>
    </button>

    <button style="font-size: 36px">
      <i class="material-icons">mode_edit</i>
    </button>

    <button style="font-size:24px">
      <i class="material-icons">delete</i>
    </button>

  </div>

</div>

<div class="card">

  <div class="TitleDescription">
    <div class="title">Título</div>
    <div class="description">Descripción</div>
  </div>

  <div class="buttons">

    <button style="font-size: 36px">
      <i class="material-icons">visibility</i>
    </button>

    <button style="font-size: 36px">
      <i class="material-icons">mode_edit</i>
    </button>

    <button style="font-size:24px">
      <i class="material-icons">delete</i>
    </button>

  </div>

</div>
