<!-- <div class="card"> -->
<div class="card" *ngFor="let tarea of tareas">

  <div class="TitleDescription">
    <div class="title">{{tarea.nombre}}</div>
    <div class="description">{{tarea.descripcion | slice:0:85 }}...</div>
  </div>

  <div class="buttons">

    <button [routerLink]="['/formulario-tarea-ver', tarea.id]" [queryParams]="{ nombre: tarea.nombre, descripcion: tarea.descripcion, correo: tarea.correo, usuario: tarea.usuario, departamento: tarea.departamento }">
      <i class="material-icons">visibility</i>
    </button>

    <button routerLink="/formulario-tarea-editar">
      <i class="material-icons">mode_edit</i>
    </button>

    <button [style.display]="visualizacion">
      <i class="material-icons">delete</i>
    </button>

  </div>

</div>
