<div class="card">

  <div class="TitleDescription">
    <div class="title">Título</div>
    <div class="description">Descripción</div>
  </div>

  <div class="buttons">

    <button>
      <i class="bi bi-eye"></i>
    </button>

    <button>
      <i class="bi bi-pencil-square"></i>
    </button>

    <button>
      <i class="bi bi-trash3"></i>
    </button>

  </div>

</div>

<div class="card">

  <div class="TitleDescription">
    <div class="title">Título</div>
    <div class="description">Descripción</div>
  </div>

  <div class="buttons">

    <button>
      <i class="bi bi-eye"></i>
    </button>

    <button>
      <i class="bi bi-pencil-square"></i>
    </button>

    <button>
      <i class="bi bi-trash3"></i>
    </button>

  </div>

</div>

<div class="card">

  <div class="TitleDescription">
    <div class="title">Título</div>
    <div class="description">Descripción</div>
  </div>

  <div class="buttons">

    <button>
      <i class="bi bi-eye"></i>
    </button>

    <button>
      <i class="bi bi-pencil-square"></i>
    </button>

    <button>
      <i class="bi bi-trash3"></i>
    </button>

  </div>

</div>
