.card {
  border: 2px solid rgb(0, 0, 0);
  width: 70%;
  margin: 30px 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: 'var(--card-user-claro)';
}

.TitleDescription {
  display: flex;
  flex-direction: column;
  /*border: 1px solid lightskyblue;*/
  padding: 30px 55% 30px 5%;
  font-size: 20px;
  width: 75%;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid lightgreen;*/
  padding: 40px 20px;
  display: inline-block;
  width: 25%;
}

.buttons button {
  margin: 0 10px;
  font-size: 36px;
}

.buttons button span {
  margin: 5px;
}

.color_blue {
  color: blue;
}

.color_yellow {
  color: rgb(149, 149, 49);
}

.color_red {
  color: red;
}
