<!-- <div class="card"> -->
<div class="card" *ngFor="let usuario of usuarios">

  <div class="TitleDescription">
    <div class="title">{{usuario.nombre}}</div>
    <div class="description">{{usuario.departamento}}</div>
  </div>

  <div class="buttons">

    <button [routerLink]="['/formulario-usuario-ver', usuario.id]" [queryParams]="{nombre: usuario.nombre, departamento: usuario.departamento, correo: usuario.correo, foto: usuario.foto}" (click)="changeStyle">
      <i class="material-icons color_blue">visibility</i>
    </button>

    <button [routerLink]="['/formulario-usuario-editar', usuario.id]" [queryParams]="{nombre: usuario.nombre, departamento: usuario.departamento, correo: usuario.correo, foto: usuario.foto}" (click)="changeStyle">
      <i class="material-icons color_yellow">mode_edit</i>
    </button>

    <button (click)="eliminarUsuario(usuario.id)" (click)="changeStyle">
      <i class="material-icons color_red">delete</i>
    </button>

  </div>

</div>
