.button {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  left: 25px;
  background-color: var(--white-bg);
  color: var(--dark-bg);
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.buttonSelected {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  left: 25px;
  background-color: var(--dark-bg);
  color: var(--white-bg);
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
