.button {
  color: var(--white-bg);
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
  background: transparent;
  border: none;
}

span {
  font-size: 30px;
}

.buttonSelected {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  background-color: var(--dark-bg);
  color: var(--white-bg);
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
