.oval {
  position: relative;
  margin: 10px;
  background-color: #0275d8;
  transition: background-color 0.15s ease-in-out;
}

.button {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  left: 25px;
  background-color: #f7f7f7;
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.buttonSelected {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  left: 25px;
  background-color: #919191;
  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
