<app-login></app-login>
<app-header></app-header>

<app-card-user></app-card-user>
<app-card-user-admin></app-card-user-admin>
<app-card></app-card>

<!--
<app-formulario-usuario></app-formulario-usuario>
<app-formulario-usuario-editar></app-formulario-usuario-editar>
<app-formulario-usuario-ver></app-formulario-usuario-ver>
<app-formulario-perfil-usuario></app-formulario-perfil-usuario>
<app-formulario-tarea></app-formulario-tarea>
<app-formulario-tarea-editar></app-formulario-tarea-editar>
<app-formulario-tarea-editar-admin></app-formulario-tarea-editar-admin>
<app-formulario-tarea-ver></app-formulario-tarea-ver>
-->

<app-lista-tareas-usuario></app-lista-tareas-usuario>
<app-lista-tarea-admin></app-lista-tarea-admin>
<app-lista-usuarios-admin></app-lista-usuarios-admin>

<app-boton-radio-pendientes></app-boton-radio-pendientes>
<app-boton-radio-terminadas></app-boton-radio-terminadas>
<app-boton-radio-todas></app-boton-radio-todas>

<app-boton-success></app-boton-success>
<app-boton-danger></app-boton-danger>
<app-boton-dark></app-boton-dark>
<app-boton-info></app-boton-info>

<router-outlet></router-outlet>
