/* You can add global styles to this file, and also import other style files */
:root{

  /* Colores de botones */
  --primary-bg: #0463fd;
  --succes-bg: #208454;
  --danger-bg: #e03444;
  --dark-bg: #28242c;

  /* Color card */
  --card-color: #fcf4fc;

  /* Tipo de letra inter */
  --letra-inter: "Inter", sans-serif;
  --letra-tamano-inter: 1rem;

  /* Tipo de letra rajdhani */
  --letra-raj: "Rajdhani", sans-serif;
  --letra-tamano-raj: 1rem;
  --letra: 400;

  /* Bordes */
  --bordes-red: 5px;

  /* Modo oscuro */
  --oscuro--bg: var(--dark-bg);
  --oscuro-letra: #ffffff;
  --oscuro-card: #706360;
  --oscuro-primary: rgb(6, 26, 92);
  --oscuro-succes: rgb(2, 38, 18);
  --oscuro-danger: rgb(62, 2, 2);
  --oscuro-dark: rgb(58, 54, 54);

}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
