/* You can add global styles to this file, and also import other style files */
:root {

  /* Colores de botones */
  --primary-bg: #0463fd;
  --succes-bg: #208454;
  --danger-bg: #e03444;
  --dark-bg: #28242c;
  --white-bg: rgb(255, 255, 255);

  /* Color header */
  --color-header-claro: rgb(240, 187, 187);
  --color-header-oscuro: rgb(50, 35, 35);

  /* Color card */
  --card-color-claro: #fcf4fc;
  --card-color-oscuro: rgb(75, 59, 80);
  --card-user-claro: #fcecd4;
  --card-user-oscuro: rgb(79, 84, 73);

  /* Tipo de letra inter */
  --letra-inter: "Inter", sans-serif;
  --letra-tamano-inter: 1rem;

  /* Tipo de letra rajdhani */
  --letra-raj: "Rajdhani", sans-serif;
  --letra-tamano-raj: 1rem;
  --letra: 400;

  /* Bordes */
  --bordes-red: 5px;

  /* Modo oscuro */
  --oscuro--bg: var(--dark-bg);
  --oscuro-letra: #ffffff;
  --oscuro-card: var(--card-color-oscuro);
  --oscuro-primary: rgb(6, 26, 92);
  --oscuro-succes: rgb(2, 38, 18);
  --oscuro-danger: rgb(62, 2, 2);
  --oscuro-dark: rgb(58, 54, 54);

  /* Modo claro */
  --claro--bg: var(--white-bg);
  --claro-letra: rgb(0, 0, 0);
  --claro-card: var(--card-color-claro);
  --claro-primary: var(--primary-bg);
  --claro-succes: var(--success-bg);
  --claro-danger: var(--danger-bg);
  --claro-dark: var(--dark-bg);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

form {
  border-color: rgb(0, 0, 0);
}

.darkMode form, .darkMode #infoUsuario, .darkMode div.card, .darkMode div.login, .darkMode div.formulario {
  background-color: var(--card-user-oscuro);
  background-color: var(--white-bg);
}

.darkMode label {
  color: rgb(255, 255, 255);
}

.darkMode input, .darkMode div.buttons button, .darkMode input:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
