.color-header:not(body.darkMode .color-header) {
  background-color: var(--color-header-claro);
}

a:not(body.darkMode .color-header) {
  color: var(--dark-bg);
}

li a {
  font-family: var(--letra-inter);
  font-size: var(--letra-tamano-inter);
}

.img_logo {
  width: 3rem;
}

button {
  margin-right: 20px;
  background: transparent;
  border: none;
}

span {
  font-size: 30px;
}
